@{
    ViewData["Title"] = "About";
}


 <img src="../images/hotel2.jpg" class="headerimg" />
     <h1 class="centerh1">About Hotel Supreme</h1>
     <div class="text-center">
    <h2>We have the best hotel in the world!</h2>
    <p>Whether you are looking for a charming room for a romantic weekend, a quiet place to sleep on,
        a business trip or a fresh hotel right in the center, we at Hotel Supreme make sure you feel at home.
       Step into the entrance and experience the interior details preserved from the end of the 19th century: 
       the hand-painted glass ceiling, the beautifully patterned stone floor and the stairs with the hand-forged 
       Art Nouveau railing. Check in to the aroma of freshly brewed coffee and freshly baked coffee bread, enjoy 
       a good night's sleep in one of our uniquely decorated rooms and enjoy a delicious served breakfast in a 
       quiet environment. Here you get a pleasant hotel stay to the feeling of the wings of history, always with 
       our dedicated staff close at hand.</p>
       </div>
       <img src="../images/openhotel.jpg" class="displayimg2" alt="Hotelroom" />
       <div class="text-center">
<h2>Facilities</h2>
<p>
Of course, Hotel Supreme also offers modern facilities. With us you will find:</p>
<ul>
    <li>
76 rooms in different designs, all uniquely decorated with AirCondition in each room.
</li>
<li>
Access to parking garage opposite the hotel at the discounted price 240 SEK / day.
</li>
<li>
Breakfast buffet with everything you could wish for. Breakfast is open Mon-Fri 06.00-10.00 and Sat-Sun 06.00-11.00
</li>
<li>
The reception is staffed around the clock
</li>

</ul>
<p>
Pay securely with Mastercard, Visa, Amex, ApplePay, or swish (number 123 552 29 09) Gilitg ID handling required. We do not accept cash.
If you have any thoughts or want to book a room, we are of course here to answer your questions. If you instead want to read more about our rooms, our history or what is happening at the hotel just now, you can click further here on the website. Hope you find something that suits you!

Warm welcome,
</p>
</div>
<img src="../images/hotel9.jpg" class="displayimg2" alt="Hotelroom with view" />
