 @{
    ViewData["Title"] = "Contact";
}
<img src="../images/hotel3.jpg" class="headerimg" alt="header"/>
     <h1 class="centerh1">Contact us</h1>
     <h2 class="centerh2">Call us, email us, visit us!</h2>
        <div class="grid">
    <div>
        <img src="../images/contact.png" class="displayimg" alt="Contact" />
        </div>
        <div class="text">
        <h3 class="ch3">Call us</h3>
        <p>Feel free to call us at anytime! Our reception is open around the clock.
            Our number: 08-123456789
        </p>
        <h3 class="ch3">Email us</h3>
        <p>If you would rather email us, you can do that at: supreme@hotel.com
 
        </p>
         <h3 class="ch3">Visit us</h3>
        <p>You can always visit us at:<br />
            Hotel Supreme<br />
            Supreme City 123<br />
            12345 Supreme

 
        </p>
        <p>We look forward to hear from you!</p>
        </div>
</div>
         